.h1 {
    font-size: 2em;
}
.h2 {
    font-size: 1.5em;
}
.h3 {
    font-size: 1.17em;
}
.h4 {
    font-size: 1em;
}
.h5 {
    font-size: .83em;
}
.h6 {
    font-size: .67em;
}

a {
    text-decoration: none;
}

.bhw {
    border: 1px solid black;
    width: 50%;
    height: 40px;
}

.bmhw {
    border: 1px solid black;
    width: 50%;
    min-height: 40px;
}/*
border: 1px solid black; = Cria uma borda ao redor da tag seleionada, os valores são seguidos da grossura da borda, o seu tipo, e no final, sua cor.

width: 50%; = Diz a largura de alguma tag, limitando todo conteúdo da tag selecionada dentro do limite da largura. Pode ser usada tanto com "%" quanto "px".

height: 40px; = Mesma propriedade da "width" porém para altura ao invés de largura, porém, ela é melhor utilizada com "px" do que com "%".

min-height: 40px; Funciona como o "height" porém sem propriedade de valor fixo, ela acompanha o conteúdo selecionado.
*/
.disp {
    width: 300px;
    border: 1px solid black;
}
.display1 {
    display: block;
}/*
display = Determina como uma tag selecionada será visualizada na tela.

block; = O display padrão do CSS.
*/
.display2 {
    display: none;
}/*
none; = Esconde o conteúdo selecionado, porém ele ainda existe.
*/
.display3 {
    display: inline-block;
}/*
inline-block; = Posicionam elementos um do lado do outro, sem ficarem se obstruindo.
*/
.valign1 {
    display: inline-block;
    vertical-align: top;
}/*
vertical-align = Determina o alinhamento vertical de algum elemento selecionado.

top; = Alinha o elemento no topo.
*/
.valign2 {
    display: inline-block;
    vertical-align: middle;
}/*
middle; = Alinha o elemento no meio.
*/

.layoutg {
    border: 1px solid black;
    width: 300px;
    padding: 10px;
}
.meio {
    display: inline-block;
    vertical-align: middle;
}
#titulo,
#rodape {
    width: 626px;
}
/*
#rodape {
    bottom: 0;
    position: fixed;
}

Para garantir com que o rodapé de uma página fique no final dela, é bom utilizar a propriedade "bottom" e "position: fixed;", que determina a distância de uma tag selecionada do final da página e a outra mantém a posição de uma tag sempre fixa em uma posição da página. Mesma coisa para o título porém com a propriedade "top" ao invés de "bottom".

Por conta de isso ser uma anotação eu deixei o código comentado.
*/

#absolutext {
    border: 1px solid black;
    color: red;
    text-align: center;
    padding: 10px;
}
#absolutet {
    position: absolute;
    top: 1575px;
    left: 300px;
    font-weight: bold;
}
/*
position: absolute; = Faz com que a tag selecionada tenha uma posição absoluta, ou seja, fique sempre numa posição determinada antes, ainda passando por cima de outras tags.
*/

#indexA,
#indexB {
    width: 200px;
    height: 200px;
    position: absolute;
    opacity: 0.8;
}
#indexA {
    background-color: salmon;
    left: 20px;
    top: 1736px;
    z-index: 2;
}
#indexB {
    background-color: seagreen;
    left: 70px;
    top: 1786px;
    z-index: 1;
}
#zindexplain {
    border: 1px solid black;
    padding: 10px;
    position: absolute;
    left: 300px;
    right: 50px;
    width: 250px;
    min-height: 200px;
}
/*
z-index: ;= Dá um número de prioridade para a visualização de algo.
*/
#pozinfo {
    border: 1px solid black;
    padding: 10px;
    position: absolute;
    left: 650px;
    min-width: 10px;
}

.formp {
    border: 1px solid black;
    padding: 10px;
    width: 600px;
}

